
h1 {
    background-color: rgb(20, 94, 158);
    color: white;
    padding: 5px;
    text-align: center;
}

.image {
    border-style: solid;
    border-color: black;
    border-width: 4px;
   
}

footer {
    margin-top: 3%;
    background-color: rgb(20, 94, 158);
    color: white;
    text-align: center;
    padding: 10px;
}
.container {
    margin: auto;
}